/* HTML */

#menu_background img {
    width: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #19315B;
}

#screen {
    /* @see https://stackoverflow.com/a/20593342/1155596 */
    width: 100vw;
    height: 56.25vw;
    max-height: 100vh;
    max-width: 177.78vh;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#game {
    width: 100%;
    height: 100%;
    position: relative;
}


#gameover_background img {
    width: 100%;

}

#levelcomplete img {
    width: 100%;

}


/* FUNCTIONS */

.hidden {
    display: none;
}


.full-screen {
    width: 100%;
    max-height: 100%;
}



/* ELEMENTS */

.element img {
    width: 100%;
    height: 100%;
}

.dream {
    position: absolute;
    left: 25%;
    top: 17%;
    width: 54%;
}

#points {
    position: absolute;
    top: 2%;
    width: 13%;
    left: 85%;
    opacity: 0.9;
}

#time {
    position: absolute;
    top: 2%;
    width: 13%;
    left: 71%;
    opacity: 0.9;
}

.energy {
    position: absolute;
    top: 2%;
    width: 7%;
    animation-name: fade-pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

#energy_1 {
    left: 2%;
}

#energy_2 {
    left: 10%;
}

#energy_3 {
    left: 18%;
}

/* ELEPHANTS */

#elephant {
    position: absolute;
    left: 59%;
    top: 50%;
    width: 20%;

    animation-name: elephant;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}


@keyframes elephant {
    0% {
        top: 51%;
    }

    50% {
        top: 51%;
    }

    100% {
        top: 50.5%;
    }
}

/* CLOUDS */

.cloud {
    position: absolute;
    top: 14%;
    width: 18%;
}

#cloud_1 {
    animation: cloud_1 4s infinite linear;
}

@keyframes cloud_1 {
    0% {
        left: 24%;
        top: 13%;
    }

    25% {
        left: 25%;
        top: 14%;
    }

    50% {
        left: 24%;
        top: 15%;
    }

    75% {
        left: 23%;
        top: 14%;
    }

    100% {
        left: 24%;
        top: 13%;
    }
}

#cloud_2 {
    animation-name: cloud_2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes cloud_2 {
    0% {
        left: 45%;
        top: 13%;
    }

    25% {
        left: 44%;
        top: 15%;
    }

    50% {
        left: 43%;
        top: 14%;
    }

    75% {
        left: 44%;
        top: 12%;
    }

    100% {
        left: 45%;
        top: 13%;
    }
}

#cloud_3 {
    animation-name: cloud_3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes cloud_3 {
    0% {
        left: 64%;
        top: 14%;
    }

    25% {
        left: 63%;
        top: 13%;
    }

    50% {
        left: 64%;
        top: 16%;
    }

    75% {
        left: 65%;
        top: 15%;
    }

    100% {
        left: 64%;
        top: 14%;
    }
}



/* ANIMATIONS */

.fade-in {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

#thought_1 {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

#thought_2 {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

#thought_3 {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

#thought_4 {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}



@keyframes fade-pulse {
    0% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.7;
    }
}



@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.button_play {
    position: absolute;
    top: 30%;
    left: 37.5%;
    animation-duration: 1.5s;
}

.button {
    width: 25%;
}

.button_settings {
    position: absolute;
    top: 50%;
    left: 37.5%;
    animation-duration: 1.7s;
}

.button_quit {
    position: absolute;
    top: 70%;
    left: 37.5%;
    animation-duration: 2s;
}


.pulse {
    animation-name: pulse_kf;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes pulse_kf {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade_in {
    animation-name: fadein_kf;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadein_kf {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.button_music {
    position: absolute;
    top: 30%;
    left: 37.5%;
    animation-duration: 1.5s;
}

.button_effects {

    position: absolute;
    top: 50%;
    left: 37.5%;
    animation-duration: 1.7s;
}

.button_back {

    position: absolute;
    top: 70%;
    left: 37.5%;
    animation-duration: 2s;
}
